

body{
	background-image: url(img/bkg.jpg);
	background-size:cover ;

}

nav li{
	list-style: none;
	display: inline-block;
	border: 3px solid rgba(21, 24, 32, 0.40);
}

h1{
	font-size: 40px;
	color: #f3d596;
	text-align: center;
	border: 1px solid  #f3d596;
	cursor: pointer;
}

p{
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 100;
	font-style: normal;
  }

h1 {
	background-color: #151820;
}

img{
	float: left;
}

#id{
	clear: both;
}

.boxmodel{
	border: 5px solid red;
	display: inline-block;
	padding: 10px 30px;
	background-color: azure;
	margin: 20px 0;
	width: 33px;
	height: 55px;
}
